---
import { render } from "astro:content";
import { getPosts, getPrevNextById } from "../../lib/blog";
import Layout from "../../layouts/Layout.astro";
import TOC from "../../components/TOC.astro";
import PrevNextCard from "../../components/PrevNextCard.astro";

export async function getStaticPaths() {
  const posts = await getPosts();

  return posts.map((post) => ({
    params: {
      id: post.id,
    },
    props: {
      post,
    },
  }));
}

const { post } = Astro.props;
const posts = await getPosts();
const { prev, next } = getPrevNextById(posts, post.id);
const { Content, headings } = await render(post);
---

<Layout>
  <section class="flex flex-col space-y-4 py-8">
    <p class="text-sm text-zinc-500">
      {post.data.date.toLocaleDateString("ja-JP")}
    </p>
    <h1 class="text-4xl font-bold">{post.data.title}</h1>
    <p class="text-lg font-medium text-zinc-700">{post.data.description}</p>
  </section>
  <section class="flex flex-col border-t border-zinc-100 py-8">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-12">
      <div
        class="prose prose-zinc w-full min-w-full leading-relaxed md:col-span-8"
      >
        <Content />
      </div>
      <div class="hidden md:col-span-4 md:block">
        <div class="sticky top-24 block">
          <TOC headings={headings} />
        </div>
      </div>
    </div>
  </section>
  <section class="border-t border-zinc-100 py-8">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      {prev ? <PrevNextCard post={prev} direction="prev" /> : <div />}
      {next ? <PrevNextCard post={next} direction="next" /> : <div />}
    </div>
  </section>
</Layout>
