---
import "../styles/global.css";
import "@fontsource-variable/inter";
import "@fontsource-variable/noto-sans-jp";
import Header from "../components/Header.astro";
import { SEO } from "astro-seo";

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  isArticle?: boolean;
}

const { title, description, ogImage, isArticle } = Astro.props;

const pageTitle = title ? `${title} - minittu` : `minittu`;
const pageDescription = description || "みにっつの超個人用忘備録";
const image = ogImage
  ? ogImage
  : new URL("/og/default.png", Astro.site).toString();
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title ? `${title} - minittu` : `minittu`}
      description={pageDescription}
      openGraph={{
        basic: {
          title: pageTitle,
          image: image,
          type: isArticle ? "article" : "website",
        },
      }}
      canonical={Astro.site}
    />
  </head>
  <body class="flex min-h-screen flex-col bg-white text-zinc-900 antialiased">
    <Header />
    <main class="container mx-auto w-full max-w-7xl grow px-4 pt-20">
      <slot />
    </main>
  </body>
</html>
